@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
}
main {
    margin: 50px auto;
    width: 375px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
}
img {
    max-width: 100%;
}

p {
    color: hsl(215, 51%, 70%);
}
.banner {
    position: relative
}
.view {
    position: absolute;
    background-color: hsl(178, 100%, 50%, 50%);
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
}
.view:hover {
    opacity: 1;
}
.view img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.banner img{
    border-radius: 10px
}
.first h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 400 ;
    padding-top: 20px;
}
.first h2:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}


.first p {
    font-weight: 400 ;
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
}

.second {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hsl(215, 32%, 27%);
}

.second .ethereum {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.second .ethereum p {
    color: hsl(178, 100%, 50%);
}
.second .clock {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.second p {
    margin-left: 5px;
}

.avatar {
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.avatar img {
    width: 30px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 10px;
}

.avatar span a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.avatar span a:hover {
    color: hsl(178, 100%, 50%);
}

.attribution {
    margin: 20px auto;
    font-size: 14px;
    color: aliceblue;
    width: 375px;
    padding: 10px 20px;
}
.attribution a{
    text-decoration: none;
    color: aqua;
}


